torch==2.3.1+cpu -f https://download.pytorch.org/whl/cpu
torchvision==0.18.1+cpu -f https://download.pytorch.org/whl/cpu
lightning==2.3.1
datasets==2.20.0
matplotlib==3.9.1
transformers==4.42.3
fastapi==0.111.0
